<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
<!-- 
	<bean id="tv" 
	      class="polymorphism3.SamsungTV"
	      init-method="멤버변수초기화"
	      destroy-method="자원해제"
	      lazy-init="false"
	      scope="singleton"></bean>
 
 	생성자 인젝션 설정
 	<bean id="speaker" class="polymorphism3.AppleSpeaker"/>
 
 	<bean id="tv" class="polymorphism3.GoogleTV">
 		<constructor-arg ref="speaker"/>
 		<constructor-arg value="1500000"/>
 	</bean>

	세터 인젝션 설정
 	<bean id="speaker" class="polymorphism3.SonySpeaker"/>
 
 	<bean id="tv" class="polymorphism3.GoogleTV" p:speaker-ref="speaker" p:price="100000"/>
 	
 	<bean id="collection" class="polymorphism3.CollectionBean">
 		<property name="addressList">
 		
 			<props>
 				<prop key="둘리">쌍문동</prop>
 				<prop key="도우너">도봉동</prop>
  			</props>
 		
 		</property>
 	</bean>
-->

	<!-- Annotation 기반의 IoC를 위한 설정 -->
	<context:component-scan base-package="polymorphism3"/>
	
	<!-- 
		내가 만든 클래스에 대해 Annotation을 설정하는 기준 
		@Component	: 유지보수 과정에서 변경되지 않는 객체
		bean 등록	: 유지보수 과정에서 자주 변경되는 객체
	-->
	<bean class="polymorphism3.SonySpeaker"/>

</beans>


















